# Virtuelle Umgebungen
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
dist/
build/

# Tests und Coverage
.pytest_cache/
.coverage
htmlcov/

# Tooling
.ruff_cache/
.mypy_cache/

# Lokale Umgebung und Geheimnisse
.env
.env.*
!.env.example

# Betriebssystem
.DS_Store
Thumbs.db

# Editor
.idea/
.vscode/

#notes
notes/
